@import url(http://fonts.googleapis.com/css?family=VT323);

body { 
	padding-bottom: 70px; 
	background-color: LightSlateGray ;
}


h1, h2, h3, h4, h5, p, a, li {
	color: white;
	font-family: 'VT323' ;
}

h1, h2, h3, h4, h5 {
	text-align: center;
	letter-spacing: 4px;
}

h1 {
	font-size: 64px;
}


.navbar > ul {

}

.navbar {
	background-color: DarkGray;
	border: 0px;
	color: white;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: LightSlateGray;
	color: white;
	border-top: 4px solid white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 32px;
	letter-spacing: 4px;
	margin-bottom: 0px;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.navbar-nav {
	margin: 0px;
}

.bottom {
	padding-bottom: 70px;
}

.ico:hover {
	border-top: 8px solid white;
	background-color: DarkGray;
}

.ico-active {
	border-top: 8px solid white;
	background-color: DarkGray;
}

.ico {
	border-top: 8px solid LightSlateGray;
}

.content {
	margin-top: 64px;
}

.contact {
	border-top: 8px solid LightSlateGray;
}

.contact:hover {
	border-top: 8px solid white;
	background-color: DarkGray;
}

